* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Satoshi', sans-serif;
    height: 100%;
    width: 100%;
    background: #90d6a6;
}

h1 {
    font-size: min(200px, 6vw);
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    user-select: none;
}

#root {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #90d6a6;
}

#overlay {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.loader {
    width: 96px;
    height: 24px;
    display: inline-block;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    background: linear-gradient(45deg, transparent 49%, #000 50%, #000 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent 49%, #000 50%, #000 50%, transparent 51%, transparent);
    font-size: 15px;
    background-size: 1em 1em;
    box-sizing: border-box;
    animation: barStripe 0.6s linear infinite;
}


@keyframes barStripe {
    0% {
        background-position: 1em 0;
    }

    100% {
        background-position: 0 0;
    }
}